<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Affirmations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Affirmations</h1>
    </div>

    <div
      class="main center"
      style="background-image: url('<%= photo %>'); opacity: 0.95"
      alt="<%= description %>"
    >
      <p class="affirmation-text"><%= affirmation %></p>
      <div class="center">
        <p class="photographer">
          Photo by
          <a
            class="link"
            href="<%= link %>?utm_source=affirmations&utm_medium=referral"
            ><%= photographer %></a
          >
          on
          <a
            class="link"
            href="https://unsplash.com/?utm_source=affirmations&utm_medium=referral"
            >Unsplash</a
          >
        </p>
      </div>
      <div class="center">
        <p class="music">
          Music by
          <a
            class="link"
            href="https://pixabay.com/users/juliush-3921568/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=5536"
            >JuliusH</a
          >
          on
          <a
            class="link"
            href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=2063"
            >Pixabay</a
          >
        </p>
      </div>
      <audio controls autoplay loop>
        <source src="/music/<%= music %>" type="audio/mpeg" />
        Music by JuliusH from Pixabay
        https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=2063
      </audio>
    </div>
    <div class="footer">
      <p>Copyright &copy; Naomi Sharp 2022</p>
    </div>
  </body>
</html>
